<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Blog-website</title>
</head>
<body>
    
    <div class="container">
        <h1>Create Your account</h1>
        <form action="/create" method="POST" enctype="application/x-www-form-urlencoded">        <label class="name">Username</label>
            <br>
            <input class="name" type="text" title="User Name" name="name" required>
            <br>
            <br>
            <label class="title">Password</label>
            <br>
            <input class="title content content-box" type="text" title="Password" name="title" required>
            <br>
            <br>
            
            <button class="submit" type="submit">Submit</button>
            
    
        </form>
    <a href="/login"><button>Login instead</button></a>
</div>                            
</body>
</html>