<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit a blog</title>
</head>
<body>
      <h1>Edit a blog</h1>
      <p>this page helps you to edit a blog only if that blog is yours this uses id system as when you posted a blog and you will enter that id with that id we will identify that the blog you want to edit this is not much secure as our website is still under development</p>
      <form method="POST" action="edit"></form>
    
</body>
</html>