<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8919319784858816"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="New Project.png" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <link rel="stylesheet" href="style_index.css">
    <link rel="stylesheet" href="mobile.css">
    <title>yash code blogs x tips related to coding</title>
</head>

<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <a href="/">
                <span><img src="favicon.png" width="254px" alt=""></span>
            </a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/home">Contact</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/yourblogs">yourblogs</a></li>
                <li><a href="/postblog">post blogs</a></li>
                
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <!--hey yashmeet is the best person in this world and i am doing touch typing by standing and belief me it is full of errorsy-->

        </div>

    </nav>
    <div class="max-width-1 m-auto">
        <hr>
    </div>
    <div class="m-auto content max-width-1 my-2">
        <div class="content-left">
            <h1>yashcodeblogs</h1>
            <p>yashcodeBlogs is a website which lets you submit an article which upon approval will be up on our website
                and you
                can get a good amount of reach from here!</p>
            <p>My Halloween decorations are staying in the box this year. To be honest, they didn’t make it out of the
                box last year either. My Halloween spirit has officially been bludgeoned to death by teenagers who no
                longer care and a persistent October fear of the Northern California wildfires. And speaking of fear,
                isn’t there more than enough of that going around? Maybe all of us can pretend that Halloween isn’t even
                happening this year?</p>
        </div>
        <div class="content-right">
            <img src="img/home.svg" alt="yashcodeblogs">
        </div>
    </div>
    <div class="footer">
        <p>Copyright &copy; yashcodeblogs.in </p>
        <a href="https://www.vecteezy.com/free-vector/typewriter">Vector Credits: Vecteezy</a>
    </div>

</body>

</html>